<%- include("partials/header.ejs") %>
    <main>
        <div class="box" id="heading">
            <h1>
                Work List
            </h1>

        </div>
        <div class="box">
            <form class="item" action="/work" method="post">
                <input type="text" name="newItem" placeholder="New Item">
                <button type="submit">➤</button>
            </form>

            <% workItems.forEach((workItem)=> { %>
                <div class="item">
                    <form class="large" action="/deletework" method="post">
                        <input class="input" type="checkbox" name="checked" value="<%= workItem._id%>"
                            onChange="this.form.submit()">
                        <label for="">
                            <p>
                                <%= workItem.name%>
                            </p>
                        </label>
                    </form>
                    <div class="small-time">
                        <span>
                            <%= workItem.dates.day %> <%= workItem.dates.month %> <%= workItem.dates.year %>
                                <span>
                    </div>
                </div>
                <% }); %>


        </div>

    </main>
    <%- include('partials/footer.ejs') %>